{% extends "base.html" %}

{% block content %}
<div class="mt-5">
    <a href="/td1">TD1</a> / 
</div>
<div class="center">


<div class="mt-2 mb-2">
    <a href="/td1/exercice1"><button type="button" class="btn btn-primary btn-lg btn-block">Exercice 1</button></a>
</div>

<div class="mt-2 mb-2">
    <a href="/td1/exercice2"><button type="button" class="btn btn-primary btn-lg btn-block">Exercice 2</button></a>
</div>

<div class="mt-2 mb-2">
    <a href="/td1/exercice3"><button type="button" class="btn btn-primary btn-lg btn-block">Exercice 3</button></a>
</div>

<div class="mt-2 mb-2">
    <a href="/td1/exercice4"><button type="button" class="btn btn-primary btn-lg btn-block">Exercice 4</button></a>
</div>

<div class="mt-2 mb-2">
    <a href="/td1/exercice5"><button type="button" class="btn btn-primary btn-lg btn-block">Exercice 5</button></a>
</div>

<div class="mt-2 mb-2">
    <a href="/td1/exercice6"><button type="button" class="btn btn-primary btn-lg btn-block">Exercice 6</button></a>
</div>


</div>
{% endblock %}