{% extends "base.html" %}

{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism.min.css" rel="stylesheet" />
<div class="mt-5">
    <a href="/td1">TD1</a> / <a href="/td1/exercice2">Exercice 2</a>
</div>

<section class="mt-5 text-center">

    <div class="card">    
        <h5>On se familiarise avec les types et opérateurs</h5>

        <p>On découvre les entiers
            <pre><code class="language-python">int</code></pre>
            les réels
            <pre><code class="language-python">float</code></pre>
            les booléens
            <pre><code class="language-python">bool</code></pre>
            les chaînes de caractères
            <pre><code class="language-python">str</code></pre>
            et les opérateurs usuels.</p>
    </div>


        <div class="card">
            <h5>$\frac{2\times3^3}{5-2}$</h5>
        
            <p>La ligne
            <pre><code class="language-python">2*3**3/(5-2)</code></pre>
            retourne un réel et la ligne
            <pre><code class="language-python">2*3**3//(5-2)</code></pre>
            retourne un entier. <br>
            La fonction
            <pre><code class="language-python">max(x,y)</code></pre>
            renvoie le maximum entre x et y, où x et y sont des types usuels (int, float, bool, str ...)</p>
        </div>



</section>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/katex.min.css"
        integrity="sha384-ZPe7yZ91iWxYumsBEOn7ieg8q/o+qh/hQpSaPow8T6BwALcXSCS6C6fSRPIAnTQs" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/katex.min.js"
        integrity="sha384-ljao5I1l+8KYFXG7LNEA7DyaFvuvSCmedUf6Y6JI7LJqiu8q5dEivP2nDdFH31V4" crossorigin="anonymous">
        </script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/contrib/auto-render.min.js"
        integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous">
        </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/plugins/autoloader/prism-autoloader.min.js"></script>

{% endblock %}