{% extends "base.html" %}

{% block content %}

<div class="mt-5">
    <a href="/td1">TD1</a> / <a href="/td1/exercice2">Exercice 2</a>
</div>

<section class="mt-5 text-center">

    <div class="card">    
        <h5>On se familiarise avec les types et opérateurs</h5>

        <p>On découvre les entiers
            <pre><code class="language-python">int</code></pre>
            les réels
            <pre><code class="language-python">float</code></pre>
            les booléens
            <pre><code class="language-python">bool</code></pre>
            les chaînes de caractères
            <pre><code class="language-python">str</code></pre>
            et les opérateurs usuels.</p>
    </div>


        <div class="card">
            <h5>$\frac{2\times3^3}{5-2}$</h5>
        
            <p>La ligne
            <pre><code class="language-python">2*3**3/(5-2)</code></pre>
            retourne un réel et la ligne
            <pre><code class="language-python">2*3**3//(5-2)</code></pre>
            retourne un entier. <br>
            La fonction
            <pre><code class="language-python">max(x,y)</code></pre>
            renvoie le maximum entre x et y, où x et y sont des types usuels (int, float, bool, str ...)</p>
        </div>



</section>


{% endblock %}