{% extends "base.html" %}

{% block content %}
<div class="mt-5">
    <a href="/td1">TD1</a> / <a href="/td1/exercice6">Exercice 6</a>
</div>

<section class="mt-5 text-center">

    <div class="card">    
        <h5>Écrivez une fonction bonjour() qui demande à l’utilisateur d’entrer le premier
        chiffre de son numéro de sécurité́ sociale) et affiche « Bonjour, Monsieur » ou « Bonjour,
        Madame » ou « Bonjour », selon que ce chiffre est 1, 2 ou autre chose.</h5>

    <div class="input-group mb-3">
        <input type="number" class="form-control" placeholder="1" hx-get="/td1/exercice6/bonjour" name="q"
            hx-trigger="keyup changed delay:500ms" hx-target="#ans1">
    
    </div>
    <div>
        <h5>Réponse</h5>
        <div id="ans1">(entrez une valeur ci-dessus)</div>
    </div>
    </div>


        <div class="card">
            <h5>Écrivez la fonction <pre><code class="language-python">bissextile(a)</code></pre> qui renvoie 
            <pre><code class="language-python">True</code></pre> si l’année a est bissextile
            ou <pre><code class="language-python">False</code></pre> si elle ne l’est pas. Note : une année est bissextile si elle est divisible par 4 mais pas
            par 100 ou si elle est divisible par 400. 1976, 2000, 2012 sont bissextiles, 1857, 1900, 1910 ne le
            sont pas.</h5>
            
        <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="1" hx-get="/td1/exercice6/bissextile" name="q"
                hx-trigger="keyup changed delay:500ms" hx-target="#ans2">
        
        </div>
        <div>
            <h5>Réponse</h5>
            <div id="ans2">(entrez une valeur ci-dessus)</div>
        </div>
        </div>



</section>

{% endblock %}