{% extends "base.html" %}

{% block content %}
<div class="mt-5">
    <a href="/td1">TD1</a> / <a href="/td1/exercice3">Exercice 3</a>
</div>

<section class="mt-5 text-center">

    <div class="card">    
        <h5>Rectangle</h5>

            <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Votre couleur préférée</span>
    </div>
    <input type="text" class="form-control" placeholder="mauve" hx-get="/td1/exercice3/couleur" name="q"
        hx-trigger="keyup changed delay:500ms" hx-target="#ans1">
            
        </div>
        <pre><code class="language-bash" id="ans1"></code></pre>
        <p>Ma méthode:</p>
        <p>Longeur = len(s)*2</p>
        <p>Largeur = len(s)-2</p>
    </div>
    



</section>


{% endblock %}