{% extends "base.html" %}

{% block content %}

<div class="mt-5">
    <a href="/td2">TD2</a> / <a href="/td2/bonus2">Bonus 2</a>
</div>

<section class="mt-5 text-center">

    <div class="card">    
        <h5>Un joueur lance 10 fléchettes. Chaque fléchette rapporte 0, 20 ou 50 points selon la zone touchée.
        Il a obtenu 300 points. Écrire un programme en Python pour trouver les différentes possibilités.</h5>
        <p>Admettons que $x =$ 50 points, $y =$ 20 points et $z =$ 0 points.</p>
        <p>On cherche $x, y$ et $z$, sachant que</p>
                <div>
                    $$\begin{equation}
                    x + y + z = 10
                    \end{equation}$$
                </div>
                et
                <div>
                    $$\begin{equation}
                    50x + 20y + 0z = 300
                    \end{equation}$$
                </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">nombre de tirs, somme des points</span>
            </div>
            <input type="text" class="form-control" placeholder="10,300" hx-get="/td2/bonus2/flechettes" name="q"
                hx-trigger="keyup changed delay:500ms" hx-target="#ans1">
        </div>
        <div>
            <h5>Réponse</h5>
            <div id="ans1">(entrez une valeur ci-dessus)</div>
        </div>
    </div>


</section>


{% endblock %}