{% extends "base.html" %}

{% block content %}

<div class="mt-5">
    <a href="/td2">TD2</a> / <a href="/td2/bonus3">Bonus 3</a>
</div>

<section class="mt-5 text-center">

    <div class="card">    
        <h5>Écrire un programme en Python pour déterminer une valeur approchée de l'aire sous la courbe
        de la fonction carrée sur [0;1] en utilisant la méthode de Monte-Carlo, puis sur [0;2].</h5>
        <p>On génère des points dans un plans avec des coordonnées, puis on fait le ratio entre les points dont les coordonnées y sont inférieures ou égales à x² et le nombre total de points générés.</p>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">borne supérieure, nombre d'itérations</span>
            </div>
            <input type="text" class="form-control" placeholder="1,10000" hx-get="/td2/bonus2/aire" name="q"
                hx-trigger="keyup changed delay:500ms" hx-target="#ans1">
        </div>
        <div>
            <h5>Réponse</h5>
            <div id="ans1">(entrez une valeur ci-dessus)</div>
        </div>
    </div>


</section>


{% endblock %}