{% extends "base.html" %}

{% block content %}
<div class="mt-5">
    <a href="/td4">TD4</a> / 
</div>
<div class="center">


<div class="mt-2 mb-2">
    <a href="/td4/exercice1"><button type="button" class="btn btn-primary btn-lg btn-block">Exercice 1</button></a>
</div>

<div class="mt-2 mb-2">
    <a href="/td4/exercice2"><button type="button" class="btn btn-primary btn-lg btn-block">Exercice 2</button></a>
</div>

<div class="mt-2 mb-2">
    <a href="/td4/exercice3"><button type="button" class="btn btn-primary btn-lg btn-block">Exercice 3</button></a>
</div>

<div class="mt-2 mb-2">
    <a href="/td4/exercice4"><button type="button" class="btn btn-primary btn-lg btn-block">Exercice 4</button></a>
</div>

<div class="mt-2 mb-2">
    <a href="/td4/bonus1"><button type="button" class="btn btn-primary btn-lg btn-block">Bonus 1</button></a>
</div>

<div class="mt-2 mb-2">
    <a href="/td4/bonus2"><button type="button" class="btn btn-primary btn-lg btn-block">Bonus 2</button></a>
</div>

<div class="mt-2 mb-2">
    <a href="/td4/bonus3"><button type="button" class="btn btn-primary btn-lg btn-block">Bonus 3</button></a>
</div>



</div>
{% endblock %}